[build]
  builder = "NIXPACKS"

[build.env]
  NIXPACKS_NODE_VERSION = "20"

[deploy]
  startCommand = "npm run start"
  healthcheckPath = "/health"
  healthcheckTimeout = 300
  restartPolicyType = "ON_FAILURE"
  restartPolicyMaxRetries = 3
